<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FollowSccpStream.Properties.Settings.mc_sz04aConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=sz04a_mc_all;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>